.input-area {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  width:100%;
  height: auto;
  overflow: auto;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  @media (prefers-color-scheme: dark) {
        color: var(--light-light);
  }
    @media (prefers-color-scheme: light) {
        color: var(--dark-dark);
  }
}

.send-btn {
  margin: 10px 10px;
  width: 40px;
  height:40px;

  @media (prefers-color-scheme: dark) {
        color: var(--primary-light);
  }
  @media (prefers-color-scheme: light) {
        color: var(--warning-dark);
  }
}

.my-message {
    @media (prefers-color-scheme: dark) {
        background: linear-gradient(to bottom, var(--primary),var(--primary-dark));
        color: var(--light-light);
    }
    @media (prefers-color-scheme: light) {
        background: linear-gradient(to bottom, var(--warning),var(--warning-dark));
        color: var(--light-light);
    }
}

.other-message {
    @media (prefers-color-scheme: dark) {
        background: linear-gradient(to bottom, var(--ion-color-step-200),var(--ion-color-step-250));
        color: var(--light-light);
    }
    @media (prefers-color-scheme: light) {
        background: linear-gradient(to bottom, var(--ion-color-step-500),var(--ion-color-step-550));
        color: var(--light-light);
    }

}

.time {
  color: #dfdfdf;
  float: right;
  font-size:  small;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-top: 4px;
  white-space: pre-wrap;
} 

@media(prefers-color-scheme: dark){

  .light-text {
    color: var(--light);
  }
  .warning-text {
    color: var(--primary-light)
  }
}

/*  ----------------
         LIGHT
    ---------------- */

@media(prefers-color-scheme: light){

  .light-text {
    color: var(--dark);
  }
  .warning-text {
    color: var(--warning-dark)
  }

}