<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="warning-text" defaultHref="tabs"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button routerLink='/profile'>
                <ion-icon class="icon-toolbar" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Chat</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content #ionContent padding [scrollEvents]="true">
    <ion-grid>
        <ion-list>
            <ion-row *ngFor="let message of messages; index as i">
                <ion-col [ngClass]="{'last-msg' : i == messages.length-1 }" size="9"
                    *ngIf="message.user.name !== this.user.name" class="message other-message">
                    <b>{{message.user.name}}</b><br>
                    <span>{{message.content}}</span>
                    <div class="time ion-text-right ion-text-capitalize"><br>{{message.date | date:'short'}}</div>
                </ion-col>

                <ion-col [ngClass]="{'last-msg' : i == messages.length-1 }" size="9" offset="3"
                    *ngIf="message.user.name ===  this.user.name" class="message my-message">
                    <b>{{message.user.name}}</b><br>
                    <span>{{message.content}}</span>
                    <div class="time ion-text-right ion-text-capitalize"><br>{{message.date | date:'short'}}</div>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-grid>
</ion-content>




<ion-footer no-border>
    <ion-toolbar>
        <ion-textarea rows="1" class="input-area" #textArea>
        </ion-textarea>
        <ion-buttons style="margin-left: 10px; margin-bottom: 10px;" (click)="sendMessage(textArea.value)" slot="end">
            <ion-button fill="clear">
                <ion-icon class="icon-toolbar" name="arrow-up-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>