<ion-item lines=none>
    <ion-list>
        <ion-label class="ion-text-wrap">
            <h2 class="light-text"><b>Nome: {{user.name}}</b></h2>
            <h2 class="light-text">Cognome: <b>{{user.surname}}</b></h2>
            <h2 class="light-text">Email: <b>{{user.email}}</b></h2>
        </ion-label>
    </ion-list>
</ion-item>

<hr>

<ion-item lines=none>
    <ion-list>
        <ion-label class="ion-text-wrap">
            <h2 class="light-text"><b>Ruolo: {{user.role}}</b></h2>
            <h3 class="light-text">N° Serie: <b>{{user.serialNumber}}</b></h3>
        </ion-label>
    </ion-list>
</ion-item>

<hr>
<form>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" class="form-control" [(ngModel)]="userLogin.password" name="password"
            #loginPassword='ngModel' [ngClass]="{'is-invalid' : !(loginPassword.valid || !loginPassword.dirty)}"
            required minlength=5>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Password Verify</ion-label>
        <ion-input type="password" class="form-control" [(ngModel)]="userLogin.password" name="passwordVerify"
            #loginPasswordVerify='ngModel' [ngClass]="{'is-invalid' : !(loginPassword.valid || !loginPassword.dirty)}"
            required minlength=5>
        </ion-input>
    </ion-item>
    <ion-button class="submit-button" (click)="cambiaPassword()">Cambia
        Password
    </ion-button>
</form>

<ion-row class="ion-align-items-center">
    <ion-button class="logout-button" (click)="logout()">Logout
    </ion-button>
</ion-row>