 .submit-button, .logout-button {
    min-height: 35px;
    min-width: 150px;
    padding-left: 15px;
    padding-top: 15px;
    @media (prefers-color-scheme: dark) {
      --background: linear-gradient(to top right, var(--primary), var(--primary-light));
      --background-activated: linear-gradient(to top right, var(--primary), var(--primary-dark));
    }
    @media (prefers-color-scheme: light) {
      --background: linear-gradient(to bottom left, var(--warning), var(--warning-light));
      --background-activated: linear-gradient(to top right, var(--warning), var(--warning-dark));
    }
 }

 .invalid-feedback {
   color: #c00000;
   text-shadow: black;
   font-size: 0.75rem;
   padding: 0.5rem 2rem
 }
