<ion-content fullscreen="true">
  <div style="padding-top: 8rem;">
    <ion-card class="card grad-background">
      <ion-card-header>

        <ion-card-title class="text">
          <ion-row>
            <ion-col>
              <span *ngIf="prefersDark; then thenBlock else elseBlock"></span>
            </ion-col>
            <ion-col style="padding: 1rem;">
              Safe Maintenance
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <app-form></app-form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ng-template #thenBlock>
  <img src="../../../assets/logo/logow.png" width="80px" height="80px" />
</ng-template>
<ng-template #elseBlock>
  <img src="../../../assets/logo/logob.png" width="80px" height="80px" />
</ng-template>
