@media(prefers-color-scheme: dark){

    .light-text {
        color: var(--light);
        padding-left: 0.5rem;
    }
    .warning-text {
        color: var(--warning-light)
    }
}

/*  ----------------
         LIGHT 
    ---------------- */

@media(prefers-color-scheme: light){

    .light-text {
        color: var(--dark);
        padding-left: 0.5rem;
    }
    .warning-text {
        color: var(--warning-dark)
    }
}
