<ion-item lines=none>
  <ion-label class="ion-text-wrap">
    <h1 class="warning-text"><b>{{selectedMaintenance.name}}</b></h1>
    <h2 class="light-text">• Tipo: <b>{{selectedMaintenance.type}}</b></h2>
  </ion-label>
</ion-item>

<ion-item lines=none>
  <ion-label class="ion-text-wrap">
    <h1 class="warning-text"><b>{{selectedMaintenance.machine.name}}</b></h1>
    <h2 class="light-text">• N° Serie: <b>{{selectedMaintenance.machine.serialNumber}}</b></h2>
  </ion-label>
</ion-item>

<ion-list>
  <ion-label *ngFor="let step of steplist" class="ion-text-wrap">
    <h1 class="warning-text"><b>Step: </b></h1>
    <h2 class="light-text"><b>{{step.name}}</b></h2>
    <h2 class="light-text">• Duration: {{step}}<b></b></h2>
  </ion-label>
</ion-list>