<ion-row style="height: 24px; padding-top: 0;">
  <ion-col style="padding: 0;" offset="11">
    <ion-icon (click)="close()" class="icon-close" name="close-outline"></ion-icon>
  </ion-col>
</ion-row>

<ion-item lines=none>
  <ion-list>
    <ion-label class="ion-text-wrap">
      <h2 class="warning-text"><b>{{selectedMaintenance.name}}</b></h2>
      <h3 class="light-text">Tipo: <b>{{selectedMaintenance.type}}</b></h3>
    </ion-label>
  </ion-list>
</ion-item>

<hr>

<ion-item lines=none>
  <ion-list>
    <ion-label class="ion-text-wrap">
      <h2 class="warning-text"><b>{{selectedMaintenance.machine.name}}</b></h2>
      <h3 class="light-text">N° Serie: <b>{{selectedMaintenance.machine.serialNumber}}</b></h3>
    </ion-label>
  </ion-list>
</ion-item>

<hr>

<ion-item lines=none>
  <ion-list>
    <h2 class="warning-text"><b>Steps</b></h2>
    <ion-item *ngFor="let step of steplist">
      <ion-label class="ion-text-wrap">
        <h2 class="light-text">{{step.name}}</h2>
        <h3>Duration: {{step.estimateDuration}}</h3>
        <a type="button" (click)="showDescription(step)"> Show More <ion-icon style="padding-top: 2px"
            name="arrow-down-outline"></ion-icon></a>
        <p class=" light-text" [hidden]="!step.description_visible">{{step.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-item>