@media(prefers-color-scheme: dark){

    .light-text {
        color: var(--light);
        padding-left: 0.5rem;
        padding:0.5rem 0;
    }
    .warning-text {
        color: var(--primary-light)
    }
}

/*  ----------------
         LIGHT 
    ---------------- */

@media(prefers-color-scheme: light){

    .light-text {
        color: var(--dark);
        padding-left: 0.5rem;
        padding:0.5rem 0;
    }
    .warning-text {
        color: var(--warning-dark)
    }
}

.close-icon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}