/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* 
---------------------------------------- 
          Component Custom
----------------------------------------
*/

ion-input, ion-item {
  --background:  trasparent !important;
}

ion-toolbar {
  padding: 10px 0px;
  --border-color: var(--light);
  @media (prefers-color-scheme: dark) {
    --border-color: var(--dark);
  }
}

ion-tab-bar {
  padding: 10px 0px;
  --border: none;
}

ion-tab-button {
   @media (prefers-color-scheme: light) {
    --color-selected: var(--warning-dark);
  }
   @media (prefers-color-scheme: dark) {
    --color-selected: var(--primary-light);
  }
}

/* 
---------------------------------------- 
            Custom Button
----------------------------------------
*/

.primary-button {
    min-height: 50px;
    min-width: 150px;
    @media (prefers-color-scheme: dark) {
      --background: linear-gradient(to top right, var(--primary), var(--primary-light));
      --background-activated: linear-gradient(to top right, var(--primary), var(--primary-dark));
    }
    @media (prefers-color-scheme: light) {
      --background: linear-gradient(to bottom left, var(--warning), var(--warning-light));
      --background-activated: linear-gradient(to top right, var(--warning), var(--warning-dark));
    }
}

/* 
---------------------------------------- 
            Backcground
----------------------------------------
*/


.grad-background {
  background: linear-gradient(to bottom, var(--ion-color-step-150),var(--ion-color-step-250));
}

/* 
---------------------------------------- 
            Icon Custom
----------------------------------------
*/

.icon-toolbar{
  font-size: 2.3rem;
  padding: 5px 10px 5px 0;
   @media (prefers-color-scheme: dark) {
     color: var(--primary-light);
    }
    @media (prefers-color-scheme: light) {
      color: var(--warning-dark);
    }
}

.icon-close{
  font-size: 1.5rem;
  padding: 5px 10px 5px 0;
  text-align: right;
}


/* 
---------------------------------------- 
            Toast Message
----------------------------------------
*/

.toast-danger {
    --background: var(--danger-light);
    --color: var(--light-light);
}

.toast-success {
    --background: var(--ion-color-success);
    --color: var(--dark-dark);
}

