<form #loginForm="ngForm" (ngSubmit)='login(loginForm.value)'>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" #loginEmail='ngModel' [(ngModel)]="userLogin.email" name="email"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      required [ngClass]="{'is-invalid' : !(loginEmail.valid || !loginEmail.dirty)}">
    </ion-input>
  </ion-item>

  <div class="invalid-feedback" [hidden]="loginEmail.valid || !loginEmail.dirty">
    Inserisci un'email valida
  </div>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" class="form-control" [(ngModel)]="userLogin.password" name="password"
      #loginPassword='ngModel' [ngClass]="{'is-invalid' : !(loginPassword.valid || !loginPassword.dirty)}" required
      minlength=5>
    </ion-input>
  </ion-item>


  <div class="invalid-feedback" [hidden]="loginPassword.valid || !loginPassword.dirty">
    Inserisci una password valida
  </div>
  <div class="invalid-feedback" [hidden]="!loginPassword.errors?.minlength">
    aggiungi altri {{loginPassword.errors?.minlength?.requiredLength - loginPassword.errors?.minlength?.actualLength}}
    caratteri
  </div>

  <ion-button type="submit" class="button" mode="ios" size='medium' fill='outline' [disabled]="!loginForm.valid">
    Submit </ion-button>

</form>