<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div *ngIf="false; then EmptyList else FillList"></div>
</ion-content>

<ng-template #EmptyList>
  <ion-card class="card grad-background">
    <ion-card-header style="text-align: center">
      <ion-card-subtitle>Accedi alle liste Manutenzioni</ion-card-subtitle>
      <ion-card-title> Non hai Manutenzioni Attive </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col offset="3" size="6">
          <img src="../../../../../assets/wrench.png" width="128px" height="128px"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button expand="block">Lista Manutenzioni</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-template #FillList>
  <ion-card class="card grad-background">
    <ion-card-header style="text-align: center">
      <ion-card-subtitle>Avvicinati al Macchinario</ion-card-subtitle>
      <ion-card-title>Macchinario 1</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col offset="3" size="6">
          <img src="../../../../../assets/wrench.png" width="128px" height="128px"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button expand="block" disabled>Avvia</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ng-template>
