<ion-row style="height: 24px; padding-top: 0;">
  <ion-col style="padding: 0;" offset="11">
    <ion-icon (click)="close()" class="icon-close" name="close-outline"></ion-icon>
  </ion-col>
</ion-row>

<ion-list *ngFor="let step of stepList" lines="none">
  <ion-item button *ngIf="step.status == 'completed'" (click)="showDetails(step, maintenance)">
      <ion-avatar>
        <ion-icon name="checkmark-sharp"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap" >
        <h2 class="warning-text"><b>{{step.name}}</b></h2>
        <p class="light-text">Durata stimata: {{step.estimateDuration}}</p>
      </ion-label>
  </ion-item>

  <ion-item button *ngIf="step.status == 'started'" (click)="showDetails(step, maintenance)">
    <ion-avatar>
      <ion-icon name="build-outline"></ion-icon>
    </ion-avatar>
    <ion-label class="ion-text-wrap" >
      <h2 class="warning-text"><b>{{step.name}}</b></h2>
      <p class="light-text">Durata stimata: {{step.estimateDuration}}</p>
    </ion-label>
  </ion-item>

  <ion-item button *ngIf="step.status == 'to-do'" disabled>
    <ion-avatar>

    </ion-avatar>
    <ion-label class="ion-text-wrap" >
      <h2 class="warning-text"><b>{{step.name}}</b></h2>
      <p class="light-text">Durata stimata: {{step.estimateDuration}}</p>
    </ion-label>
  </ion-item>
</ion-list>
